{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="border border-dark rounded bg-secondary text-white text-center p-2 d-block mb-5 mt-5">Modification du mot de passe</h1>
        <a href="{{path('account')}}">Retourner sur mon compte</a>
        <hr>
    </div>

    {# Formulaire de modification du mot de passe #}
    <section class="container mediumFormSize">
        {{ form_start(updatePasswordForm) }}
            <div class="row p-2">
                <div class="col-12 col-md-6 m-auto">
                    {# Affichage des messages flash #}
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    {# Champs du formulaire #}
                    {{ form_row(updatePasswordForm.last_name, {label: 'Nom'})}}
                    {{ form_row(updatePasswordForm.first_name, {label: 'Prénom'}) }}
                    {{ form_row(updatePasswordForm.email, {label: 'Email'}) }}
                    {{ form_row(updatePasswordForm.old_password, {label: 'Mot de passe'}) }}
                    {{ form_row(updatePasswordForm.new_password) }}
                    <button type="submit" class="btn btn-secondary">Mettre à jour</button>
                </div>
            </div>
        {{ form_end(updatePasswordForm) }}
    </section>

{% endblock %}