{% extends 'base.html.twig' %}

{% block title %}Créer une association{% endblock %}

{# Définition d'un thème personnalisé pour l'affichage du formulaire - 'self' représente le fichier en cours #}
{% form_theme associationForm _self %}

{% block body %}

    <h1>Ajouter une nouvelle association</h1>
    <a href="#">Retourner à l'accueil de l'administration</a>
    <hr>

    <p>Hello {{app.user.firstName}} ! Vous pouvez créer une nouvelle association en utilisant le formulaire ci-dessous.</p>
    <hr>

    {# Affichage du formulaire de création d'une nouvelle association #}
    <section class="container mediumFormSize">
        
        {# Affichage des messages flash #}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success text-center" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-center" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center" role="alert">{{message}}</div>
        {% endfor %}
        
        {# Formulaire d'inscription#}
        {{ form_start(associationForm) }}
            <div class="row p-2">
                <div class="col-12 col-md-6">
                    {{ form_row(associationForm.name)}}
                    {{ form_row(associationForm.address) }}
                    {{ form_row(associationForm.postal) }}
                    {{ form_row(associationForm.city) }}
                    {{ form_row(associationForm.phone) }} 
                    {{ form_row(associationForm.email) }}
                    {{ form_row(associationForm.cover_image) }}
                    {{ form_row(associationForm.image) }} 
                    {{ form_row(associationForm.document) }} 
                </div>
                <div class="col">
                    {{ form_row(associationForm.introduction) }} 
                    {{ form_row(associationForm.object) }} 
                    {{ form_row(associationForm.content) }} 
                </div>
                 <button class="submit btn btn-secondary btn-block">Créer</button>
            </div>
        {{ form_end(associationForm) }}
    </section>

{% endblock %}

{# Création de block widget spécifiques pour l'affichage du champ de sous-formulaire 'image' #}
{% block _association_form_image_widget %}
    <p>Vous pouvez ajouter ici des images dans le caroussel de l'association !</p>
    {{ form_widget(form)}}
    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
    </div>
{% endblock %}

{# Personnalisation de l'affichage des entrées de champ de type 'row' du sous-formulaire 'image' #}
{% block _association_form_image_entry_row %}
    {# On appelle uniquement le form-widget dans la row #}
    {{ form_widget(form)}}
{% endblock %}

{# Personnalisation de l'affichage des entrées de champ de type 'widget' du sous-formulaire 'image' #}
{% block _association_form_image_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        {# Affichage des champs du sous-formulaire 'ImageFormType' sur deux colonnes #}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {# Champ d'upload de type FileType #}
                        {{form_widget(form.image)}}
                    </div>
                    <div class="col">
                        {# Champ de libéllé de type FileType #}
                        {{form_widget(form.caption)}}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{# Création de block widget spécifiques pour l'affichage du champ de sous-formulaire 'document' #}
{% block _association_form_document_widget %}
    <p>Vous pouvez ajouter ici des documents !</p>
    {{ form_widget(form)}}
    <div class="form-group">
        <button type="button" id="add-document" class="btn btn-primary">Ajouter un document</button>
    </div>
{% endblock %}

{# Création de block row spécifique pour l'affichage du champ de sous-formulaire 'document' #}
{% block _association_form_document_entry_row %}
    {# On appelle uniquement le form-widget dans la row #}
    {{ form_widget(form)}}
{% endblock %}

{# Personnalisation de l'affichage des entrées de champ de type 'widget' du sous-formulaire 'document' #}
{% block _association_form_document_entry_widget %}
    <div class="form-group" id="block_{{id}}">
        {# Affichage des champs du sous-formulaire 'DocumentFormType' sur deux colonnes #}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {# Champ d'upload de type FileType #}
                        {{form_widget(form.document)}}
                    </div>
                    <div class="col">
                        {# Champ de libéllé de type FileType #}
                        {{form_widget(form.caption)}}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_{{id}}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
    </div>
{% endblock %}

{# Gestion de l'ajout et de la suppresion des prototypes de sous-formulaires #}
{% block javascripts %}
    <script src="{{asset('js/imageManagement.js')}}"></script>
    <script src="{{asset('js/documentManagement.js')}}"></script>

{% endblock %}