{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="border border-dark rounded bg-secondary text-white text-center p-2 d-block mb-5 mt-5">Réinitialisation de votre mot de passe</h1>
    </div>

    {# Affichage des messages flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">{{message}}</div>
        {% endfor %}

    {# Affichage du formulaire réinitialisation du mot de passe de l'utilisateur #}
    <section class="container mediumFormSize">
        {{ form_start(resetForm) }}
            <div class="row p-2">
                <div class="col-12 col-md-6 m-auto">
                
                    <h2 class="h3 mb-3 font-weight-normal">Mot de passe oublié</h2>
                    
                    {{ form_row(resetForm.email, {label: 'Email'})}}
                    {{ form_row(resetForm.envoyer) }}
                   
                    {# Lien vers la route du formulaire de login #}
                    <p><a href="{{path('app_login')}}" class="badge badge-light">Retour vers la page de login...<a></p>
                </div>
            </div>
        {{ form_end(resetForm) }}
    </section>      
{% endblock %}
