{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}

    <h1>Créer un nouveau mot de passe</h1>
    <hr>

    {# Affichage des messages flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">{{message}}</div>
        {% endfor %}

    {# Formulaire de réinitialisation du mot de passe #}
    <section class="container mediumFormSize">
        {{ form_start(resetPasswordForm) }}
            <div class="row p-2">
                <div class="col-12 col-md-6 m-auto">
                    {# Affichage des messages flash #}
                    {% for message in app.flashes('message') %}
                        <div class="alert alert-success text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    {% for message in app.flashes('warning') %}
                        <div class="alert alert-warning text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    {% for message in app.flashes('danger') %}
                        <div class="alert alert-danger text-center" role="alert">{{message}}</div>
                    {% endfor %}
                    {# Champs du formulaire #}
                    {{ form_row(resetPasswordForm.new_password) }}
        
                    <button type="submit" class="btn btn-secondary">Réinitialiser</button>
                </div>
            </div>
        {{ form_end(resetPasswordForm) }}
    </section>
     
{% endblock %}