{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1>Inscription adhérent</h1>
    <hr>
    
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {# Affichage du formulaire d'inscription #}
    <section class="container mediumFormSize">
        {# Affichage des messages flash #}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success text-center" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-center" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center" role="alert">{{message}}</div>
        {% endfor %}
        
        {# Formulaire d'inscription#}
        {{ form_start(registrationForm) }}
            <div class="row p-2">
                <div class="col-12 col-md-6">
                    {{ form_row(registrationForm.last_name, {label: 'Nom'})}}
                    {{ form_row(registrationForm.first_name, {label: 'Prénom'}) }}
                    {{ form_row(registrationForm.address, {label: 'Adresse'}) }}
                    {{ form_row(registrationForm.postal, {label: 'Code postal'}) }}
                    {{ form_row(registrationForm.city, {label: 'Ville'}) }}
                    {{ form_row(registrationForm.country, {label: 'Pays'}) }}
                    {{ form_row(registrationForm.phone, {label: 'Téléphone'}) }} 
                </div>
                <div class="col">
                    {{ form_row(registrationForm.email, {label: 'Email'}) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.rgpd_validation, {label: 'Validation RGPD concernant l\'utilisation de vos données'}) }}
                    {{ form_row(registrationForm.submit, {label: 'S\'inscrire'}) }}
                </div>
            </div>
        {{ form_end(registrationForm) }}
    </section>
{% endblock %}
