{# Création du header du template de base #}
<header>
    <nav>
        {# Liste des items du menu de navigation #}
        <ul class="list-nav">
            <li class="item-nav">
                <a href="{{path('home')}}">Accueil</a>
            </li>
            <li class="item-nav">
                <a href="#">Qui sommes-nous ?</a>
            </li>
            <li class="item-nav">
                <a href="#">Contact</a>
            </li>
        </ul>

        {# Items de login et logout #}
        <div class="item-login-logout">
            {% if app.user %}
                <a href="{{path('account')}}"><i class="far fa-user"></i><span> Mon compte <small>({{app.user.firstName}})</small></span></a>
                <a href="{{path('app_logout')}}"><i class="fas fa-power-off"></i><span> Déconnection</span></a>
            {% else %}
                <a href="{{path('app_login')}}"><i class="fas fa-sign-in-alt"></i><span> Connexion</span></a>
                <a href="{{path('app_register')}}"><span> Inscription</span></a>
            {% endif %}
        </div>
        
        {# Icône de menu hamburger responsive #}
        <div class="btn-toogle-container" role="button">
            <img src="{{asset('img/hamburger.svg')}}" alt="Icône du menu hamburger">
        </div>
    </nav>
</header>
