{# Affichage des informations du profil de l'utilisateur #}
    <div class="container">
        <div class="row align-items-center">
            {# Avatar du profil #}
            <div class="col col-md-3 text-center">
                {# Si une image référencée en base de données et stockée dans le fichier 'uploads' existe pour cet utilisateur #}
                    {% if user.coverImage %}
                        {# Alors on affiche cette image #}
                        <img src="{{asset('uploads/' ~ user.coverImage)}}" alt="Avatar de {{user.firstName|capitalize}} {{user.lastName|upper}}" class="rounded-circle largeSizeImage img-fluid">
                    {% else %}
                        {# Sinon on affiche l'avatar par défaut stocké initialement dans le dossier 'img' #}
                        <img src="{{asset('img/user_avatar.png')}}" alt="Avatar de {{user.firstName|capitalize}} {{user.lastName|upper}}" class="rounded-circle largeSizeImage img-fluid">
                    {% endif %}
                <br>
                <span class="badge badge-secondary">{{user.getPosts|length}} publication(s)</span>
            </div>
            {# Nom du profil #}
            <div class="col col-lg-6 text-center">
                <h1>{{user.firstName|capitalize}} {{user.lastName|upper}}</h1>
                {# Si l'utilisateur est différent de l'utilisateur authentifié #}
                {% if user != app.user %}
                {# Alors on affiche le bouton de contact par email #}
                <div class="mt-2">
                    <a href="mailto:{{user.email}}" target="_blank" class="btn btn-light text-dark"><i class="fas fa-at"></i> Contacter {{user.firstName}}</a>
                </div>
            {% endif %}
                
            </div>
            <div class="col col-md-3 bg-secondary rounded text-light p-3">
            <h5>Coordonnées</h5>
            <hr>   
                <p>{{user.address}}</p>
                <p>{{user.postal}} {{user.city|upper}}</p>
                <hr>
                <p><i class="fas fa-phone"></i> {{user.phone}}</p>
            </div>
        </div>
        <hr>
        {# Liste des posts publiés par l'utilisateur #}
        {% if user != app.user %}
            <h2 class="text-center">Les publications de {{user.firstName|capitalize}} {{user.lastName|upper}}</h2>
        {% else %}
            <h2 class="text-center">Mes publications</h2>
            {# Bouton d'ajout d'une nouvelle publication #}
            <div class="text-center">
                <a href="{{path('post_new')}}" class="btn btn-primary "><i class="fas fa-plus-circle"></i> Ajouter</a>
            </div>
        {% endif %}
        
        {# Si l'utilisateur a publié des posts #}
        {% if user.getPosts | length > 0 %}
            {# Affichage des publications sous forme de cartes #}
            <div class="row">
                {% for post in user.getPosts %}
                    <div class="col col-sm-6 col-lg-4">
                        <div class="card bg-light m-3 h-auto w-auto mx-auto">
                            <div class="card-header text-center">
                                <h4>{{post.title}}</h4><br>
                                <small><i class="far fa-clock"></i> {{post.createdAt|date('d/m/Y à h\\hi')}}</small>
                            </div>
                            <img src="{{asset('uploads/' ~ post.coverImage)}}" alt="Image de la publication" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title text-center">
                                    <strong>{{post.title}}</strong>
                                </p>
                                <p class="card-text">
                                    {{post.content|raw}}
                                </p>
                                <a href="{{path('post_show', {'slug' : post.getSlug })}}" class="btn btn-secondary d-block mx-auto">En savoir plus</a>
                                {# Affichage des boutons d'édition et de suppression à l'utilisateur authentifié propriétaire de la publication #}
                                {% if app.user and app.user == post.getUser %}
                                    <div class="row">
                                    <div class="mx-auto mt-4">
                                        {# Lien d'édition #}
                                        <a href="{{path('post_edit', {'slug': post.slug})}}" class="btn btn-secondary card-link"><i class="fas fa-pen"></i></a> 
                                        {# Bouton de suppression #}
                                        <button type="submit" class="btn btn-danger card-link deleteButton" data-target="#modalSuppression" delete-message="Voulez-vous supprimer cette publication ?" delete-route="{{path('post_delete', {'slug': post.slug})}}" delete-token="{{csrf_token('DELETE' ~ post.slug)}}" data-toggle="modal"><i class="fas fa-trash-alt"></i></button> 
                                    </div>     
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {# Si l'utilisateur n'a pas publié de post#}
        {% else %}
            <div class="alert alert-warning">
                <p><strong>{{user.firstName|capitalize}} {{user.lastName|upper}}</strong> n'a pas encore créé de publication sur l'espace adhérents.</p>
            </div>
        {% endif %}
    </div>