{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}

<h1>Liste des posts publiés</h1>
<a href="{{path('account')}}">Retourner sur mon compte</a>
<hr>

<p><strong>{{app.user.firstName}}</strong>, vous êtes dans l'espace 'blog' de l'association. Echangez sur des projets, des événements à venir, publiez des contenus ... et partagez-les avec les autres adhérents.</p>
<hr>

{# Affichage de la variable 'posts' avec Twig #}
{#{{dump(posts)}}#}
{# Affichage des messages flash #}
        {% for message in app.flashes('message') %}
            <div class="alert alert-success text-center" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning text-center" role="alert">{{message}}</div>
        {% endfor %}
        {% for message in app.flashes('danger') %}
            <div class="alert alert-danger text-center" role="alert">{{message}}</div>
        {% endfor %}

{# Affichage de la liste de tous les posts #}
{% for post in posts %}
    <h2><a href="{{path('post_show', {'slug': post.slug })}}">{{post.title}}</a></h2>
    <p><small><strong>Publié le {{post.createdAt|date("m/d/Y")}} à {{post.createdAt | date('H:i')}}</strong> - Commentaires </small><span class="badge badge-info">{{post.comment|length}}</span></p>
    <figure>
        <img src="{{asset('uploads/' ~ post.coverImage)}}" alt="{{post.coverImage}}" class="mediumSizeImage">
    </figure>
    <div>{{post.content|raw}}</div> 
    <p><small><em>Auteur : {{post.getUser.getFirstname|capitalize}} {{post.getUser.getLastname|upper}}</small></em></p>
    {# Affichage des boutons d'édition et de suppression à l'utilisateur authentifié propriétaire de la publication #}
    {% if app.user and app.user == post.getUser %}
        {# Lien d'édition #}
        <a href="{{path('post_edit', {'slug': post.slug})}}" class="btn btn-secondary"><i class="fas fa-pen"></i></a> 
        {# Bouton de suppression #}
        <button type="submit" class="btn btn-danger deleteButton" data-target="#modalSuppression" delete-message="Voulez-vous supprimer cette publication ?" delete-route="{{path('post_delete', {'slug': post.slug})}}" delete-token="{{csrf_token('DELETE' ~ post.slug)}}" data-toggle="modal"><i class="fas fa-trash-alt"></i></button> 
    {% endif %}
{% endfor %}

{# Affichage de la pagination #}
<div class="pagination">
    {{knp_pagination_render(posts)}}
</div>

{% endblock %}
