{% extends 'base.html.twig' %}

{% block title %}Liste des publications{% endblock %}

{% block body %}

<h1>Liste des posts publiés</h1>
<a href="{{path('account')}}">Retourner sur mon compte</a>
<hr>

<p>Bonjour {{app.user.firstName}}, bienvenue dans l'espace 'blog' de l'association. Echangez sur des projets, des événements à venir, publiez des contenus ... et partagez-les avec les autres adhérents.</p>
<hr>

{# Affichage de la variable 'posts' avec Twig #}
{#{{dump(posts)}}#}

{# Affichage de la liste de tous les posts #}
{% for post in posts %}
    <h2><a href="{{path('post_show', {'slug': post.slug })}}">{{post.title}}</a></h2>
    <p>Publié le {{post.createdAt|date("m/d/Y")}}</p>
    <figure>
        <img src="{{asset('img/' ~ post.coverImage)}}" alt="{post.coverImage}}" class="mediumSizeImage">
    </figure>
    <div>{{post.content|raw}}</div> 
{% endfor %}

{# Affichage de la pagination #}
<div class="pagination">
    {{knp_pagination_render(posts)}}
</div>

{% endblock %}
